table(class="manage-tbl")
  tr
    td
      input(ng-model="name")
    td
      input(ng-model="url")
    td
      span(class="btn" ng-click="(name && url)? add(): void(0)")
        | + Add
  tr(ng-repeat="entry in rssList" 
    ng-click="(current_edit.url != entry.url)? select(entry) : false"
    ng-class="{'selected': dataShare.feed.url === entry.url}")
    td
      span(ng-if="current_edit.url != entry.url")
        | {{entry.name}}
      input(ng-model="current_edit.name" ng-if="current_edit.url === entry.url")
    td
      span(ng-if="current_edit.url != entry.url")
        | {{entry.url}}
      input(ng-model="current_edit.url" ng-if="current_edit.url === entry.url")
    td
      span(class="btn" ng-click="delete(entry.$id)")
        | Delete
      span(class="btn" ng-click="edit(entry.url, entry.$id)")
        | {{(current_edit.url === entry.url ? 'Save' : 'Edit')}}
