.blog-masthead
  .container
    nav.blog-nav
      a.blog-nav-item(ui-sref='home', ui-sref-active='active') Home
      a.blog-nav-item(ui-sref='feeds', ui-sref-active='active') Feeds
      a.blog-nav-item(href='') Press
      a.blog-nav-item(href='') New hires
      a.blog-nav-item(href='') About