.add-feed-row
  .col-4
    input(type='text', placeholder='Name RSS Feed')
  .col-6
    input(type='text', placeholder='Url RSS Feed')
  .col-2
    a.btn(href='')
      | Add Feed
hr
rss-feed(feed-data="feedData" url-array="urlArray" add-url="addUrl()" remove-url="removeUrl()")
