.manage-tbl {
  width: 100%;
  border-collapse: collapse;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em 0.5em;
  }

  td {
    padding: 0 0.5em;
    &.name-td {
      width: 20%;
    }
    &.url-td {
      width: 50%;
      span {
        display: block;
        width: 98%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &.btn-td {
      width: 50%;
    }
  }
}
