.manage-tbl {
  width: 100%;
  border-collapse: collapse;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em 0.5em;
  }

  td {
    padding: 0 0.5em;
  }
  td:first-child {
    width: 30%;
  }
  td:last-child {
    width: 200px;
  }

  .selected td,
  tr:hover td {
    background-color: #eee;
  }

  tr:first-child:hover td {
    background-color: transparent;
  }
}
