ul
  li(ng-repeat='item in list track by $index')
    | {{item}}
h2
  | {{data.feed.name}}
div(ng-repeat='item in feedContent')
  h2
    | {{item.author}}
  div(ng-bind-html='item.content')
  p
    | {{item.publishedDate}}
  a(ng-href='{{item.link}}')
    | {{item.title}}
  hr
