button(ng-click="addUrl()")
  | Add url
button(ng-click="removeUrl()")
  | Remove url
p
  | {{urlArray}}
h2
  | {{data.feed.name}}
div(ng-repeat='item in feedData | orderBy: "publishedDate"')
  h2
    | {{item.author}}
  div(ng-bind-html='item.content')
  p
    | {{item.publishedDate}}
  a(ng-href='{{item.link}}')
    | {{item.title}}
  hr
