doctype html
html(ng-app='app')
  head
    meta(charset='UTF-8')
    title Angular + Gulp
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png")
    // inject:css
    // endinject
  body
    div.wrap
      header.header(ng-include='"components/header.html"')
      main.main
        aside.sidebar(ng-include='"components/menu.html"')
        section.content(ui-view)
    script(src='https://www.google.com/jsapi')
    // bower:js
    // endinject
    // inject:js
    // endinject
