doctype html
html(ng-app='app')
  head
    meta(charset='UTF-8')
    title Angular + Gulp
    // inject:css
    // endinject
  body
    ui-view
    script(src='https://www.google.com/jsapi')
    // bower:js
    // endinject
    // inject:js
    // endinject