body {
  font-family: Arial;
  line-height: 1.425;

  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 16px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }

  .sidebar {
    @include grid-span(3, 1);
    @include tablet {
      @include grid-span(6, 3);
    }
  }

  .content {
    @include grid-span(9, 4);
    @include tablet {
      @include grid-span(6, 3);
    }
  }
}
