.sidebar-module
  h4
    | Settings
  ol.list-unstyled
    li
      label(for="entriesNumber")
        | Entries Number
      input#entriesNumber(type="number" value="4" min="0" ng-model="settings.entriesNumber")
    li
      input#historicalEntries(type="checkbox" ng-model="settings.includeHistoricalEntries")
      label(for="historicalEntries")
        | Include Historical Entries
  div(rss-list="", template="list")
  a.btn.btn-default(href="" ng-click="applySettings()")
    | Apply
