div.blog-post(ng-repeat='item in feedData | orderBy: "-publishedDate"')
  h2.blog-post-title
    a(ng-href="{{item.link}}")
        | {{item.title}}
  p.blog-post-meta
    | {{item.publishedDate | date: 'dd/MM/yyyy'}}
    =' '
    span(ng-show="item.author")
      | by
      =' '
        | {{item.author}}, 
    span(ng-show='item.source' ng-bind-html='item.source')
  p(ng-bind-html='item.content')
