div.blog-post(ng-repeat='item in feedData | orderBy: "-publishedDate"')
  h2.blog-post-title
    | {{item.title}}
  p.blog-post-meta
    | {{item.publishedDate | date: 'dd/MM/yyyy'}}
    =' '
    span(ng-show="item.author")
      | by
      =' '
      a(ng-href='{{item.link}}')
        | {{item.author}}
  p(ng-bind-html='item.content')
